h4{
    font-family: 'Great Vibes', cursive;
    font-size: 2.2em;
    text-align: center;
}

/*-------------------- MENU DE NAVIGATION --------------------*/
.navbar-brand{
    font-family: 'Parisienne', cursive;
}

.navbar-brand img{
    max-height: 70px;
}

.bg-light{
    background-color:rgb(255, 255, 255)!important;
}

/*-------------------- HEADER --------------------*/
header .row{
    align-items: center;
    min-height: 100vh;
    background-image: url(../css/fond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header .presentation{
    background-color: rgba(0,0,0,0.4);
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

h1{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-bottom: 1em;
}

h2{
    font-size: 1.1em;
    font-family: 'Kurale', serif;
    text-align: center;
}

/*-------------------- PARCOURS --------------------*/
.parcours{
    min-height:calc(100vh - 40vh);
}

.parcours span{
    font-style: italic;
    font-size: 0.9em;
}

.parcours h5{
    color:rgb(15, 69, 141);
    font-size: 1.1em;
    font-family: 'Lobster', cursive;
}

.parcours p{
    font-style: italic;
    text-align: left;
    font-family: 'Sorts Mill Goudy', serif;
}

.imgParcours{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding:10px;
}

.borderParc{
    
    border-radius: 2em;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(240, 255, 255, 0.404);
}

.border1{
    background-color: #D8E6E6;
}

/*-------------------- COMPETENCES --------------------*/
.comp{
    min-height: 40vh;
    background-size: auto;
    padding-bottom:5em;
}

.comp h6{
    text-align: center;
    font-family: 'Lobster', cursive;
}

.border{
    border-radius: 2em;
    padding: 20px;
    margin-top: 20px;
    background-color:rgba(240, 255, 255, 0.404);
    font-family: 'Sorts Mill Goudy', serif;
}

.alignImg{
    display:flex;
    justify-content: space-evenly;
}

.comp .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Sorts Mill Goudy', serif;
}

.imgBrain{
    margin-bottom: 1em;
    margin-top: 1em;

}

.imgSocial{
    margin-bottom: 1em;
    margin-top: 1em;
}

/*-------------------- CREATIONS --------------------*/
#creations{
    min-height: calc(100vh - 50px);
    overflow: hidden;
    background-color: #0e3381;
    background-image: url(../css/photo-1567567314180-d990c487e23a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
}

.creations .row{
    align-items: center;
    justify-content: space-around;
    
}

.creations h4 p{
    text-align: center;
}

.creations a {
    color:rgb(255, 255, 255);
}

.creations a:hover{
    color:rgb(255, 255, 255);
}

#creations ul{
    font-variant-caps: all-petite-caps;
}

#creations .mask{
    background-color: rgba(0,0,0,0.25);
    min-height: 100vh;
    align-items: center;
    color: #ffffff;
}

.service-24 h1, .service-24 h2, .service-24 h3, .service-24 h4, .service-24 h5, .service-24 h6 {
    color: #3e4555;
}

.service-24 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-24 a {
	text-decoration: none;
}

.service-24 .card-hover:hover {
	background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-24 .card-hover:hover .bg-success-grediant {
	color: #ffffff;
    -webkit-text-fill-color: #ffffff;
}

.service-24 .card-hover:hover .ser-title {
	color: #ffffff;
}

.service-24 .bg-success-grediant {
		background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.service-24 .wrap-service-24 .card {
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
}

.service-24 .wrap-service-24 .card:hover {
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

.service-24 .btn-outline-success {
		color: #2cdd9b !important;
    background-color: transparent;
    border-color: #2cdd9b;
}

.service-24 .btn-outline-success:hover {
		background: #2cdd9b;
    border-color: #2cdd9b;
    color: #ffffff !important;
}

.service-24 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

/*-------------------- RECOMMANDATIONS --------------------*/
.recommandationPro{
    min-height: calc(100vh - 50px);
    margin-top: 1em;
}

.recommandationPro .row{
    align-items: center;
    justify-content: space-around;
}

#recommandations h4{
    text-align: center;
}

.affichageMessage{
    font-family: 'EB Garamond', serif;
    font-size: 1.05em;
}

.boutonPC{
    display:flex;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.btn-indigo{
    border-radius: 2em;
    padding:0.7em;
}


@media (max-width: 768px)
{
    header .boutonPC{
        display:none;
        background-color: rgba(0,0,0,0.5);

    }
}

/*------------------------ CONTACT ----------------------*/
#contact{
    background-image: url(../css/contact.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px); 
}

#contact .row{
    min-height: calc(100vh - 50px);
    justify-content: space-around;
    align-items: center;
    margin:0;
}

.formContact{
    background-color: rgba(255,255,255,0.7);
    padding: 2rem 1rem;
}

#contact h4{
    text-align: center;
    padding-bottom: 1em;
}

/*-------------------- FOOTER --------------------*/
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(255, 255, 255);
    padding-top:2em;
    padding-bottom:1.5em;
}

footer .row{
    justify-content: space-around;
    align-items: center;
}

footer a{
    font-size: 2em;
}

/*-------------------- BANDEAU MENTIONS LEGALES --------------------*/
.mentionL{
    background-color:rgb(0, 0, 0);
    color:white;
    display:flex;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    min-height:0.1em;
    text-decoration: none;
}

.mentionL a{
    color:white;
    text-decoration: none;
}

.mentionL a:hover{
    color:white;
    text-decoration: none;
}


/*-------------------- FORMULAIRE RECOMMANDATIONS --------------------*/
.recom{
    background-image: url(../css/contact.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px); 
    padding-top:5em;
}

.formRecom .row{
    
    justify-content: space-around;
    align-items: center;
}

.formRecom{
    background-color: rgba(255,255,255,0.7);
    padding: 3rem 1rem;
}

.formRecom h4{
    text-align: center;
    padding-bottom: 0.8em;
}

.recom p{
    text-align: center;
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
}

/*-------------------- PAGE MENTIONS LEGALES --------------------*/
#ml{
    padding-top: 8em;
    background-color: rgba(158, 147, 135, 0.801);
}

#ml p{
    margin-top:-1.5em;
    margin-bottom: 2em;
    font-family: 'Kurale', serif;
}