h4{
    font-family: 'Great Vibes', cursive;
    font-size: 2.2em;
}

/*-------------------- MENU DE NAVIGATION --------------------*/
.navbar-brand{
    font-family: 'Parisienne', cursive;
    font-size: 1.5em;
}

.navbar-brand img{
    max-height: 70px;
}

/*-------------------- HEADER --------------------*/
.bg-light{
    background-color: #ffffff!important;
}

header .row{
    align-items: center;
    min-height: 70vh;
    background-image: url(../portfolio2/fond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

header .presentation{
    background-color: rgba(0,0,0,0.5);
    min-height: 70vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

h1{
    font-size: 1.6em;
    font-family: 'Dancing Script', cursive;
}

h2{
    font-size: 1.1em;
    font-family: 'Kurale', serif;
}

header .boutonPC{
    display:flex;
    min-height: 70vh;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 3em;
    cursor: pointer;
}

@media (max-width: 768px)
{
    header .boutonPC{
        display:none;
        background-color: rgba(0,0,0,0.5);

    }
}

/*-------------------- PARCOURS --------------------*/
.parcours{
    min-height:calc(100vh - 40vh);
}

/*-------------------- COMPETENCES --------------------*/
.comp{
    min-height: 40vh;
    background-size: auto;
    padding-bottom:5em;
}

.comp .progress{
    margin-left: 4em;
    vertical-align: middle;
}

.comp img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 0.8em;
    margin-top: 1em;
    vertical-align: middle;
}

/*-------------------- CREATIONS --------------------*/
.creations{
    min-height: calc(100vh - 50px);
}

.creations .row{
    align-items: center;
    justify-content: space-around;
}

/*-------------------- RECOMMANDATIONS --------------------*/
.recommandationPro{
    min-height: calc(100vh - 50px);
}

.recommandationPro .carousel-caption{
    color:black;
}

.recommandationPro .row{
    align-items: center;
    justify-content: space-around;
}


/*------------------------ CONTACT ----------------------*/
#contact{
    background-image: url(../portfolio2/contact.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px); 
}

#contact .row{
    min-height: calc(100vh - 50px);
    justify-content: space-around;
    align-items: center;
}

.formContact{
    background-color: rgba(255,255,255,0.7);
    padding: 2rem 1rem;
}

#contact h4{
    text-align: center;
    padding-bottom: 1em;
}

/*-------------------- FOOTER --------------------*/
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(255, 255, 255);
    padding-top:2em;
    padding-bottom:1.5em;
}

footer .row{
    justify-content: space-around;
    align-items: center;
}

footer a{
    font-size: 2em;
}

/*-------------------- BANDEAU MENTIONS LEGALES --------------------*/
.mentionL{
    background-color:rgb(0, 0, 0);
    color:white;
    display:flex;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    min-height:0.1em;
}

/*-------------------- FORMULAIRE RECOMMANDATIONS --------------------*/
.recom{
    background-image: url(../portfolio2/contact.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px); 
    padding-top:5em;
}

.formRecom .row{
    
    justify-content: space-around;
    align-items: center;
}

.formRecom{
    background-color: rgba(255,255,255,0.7);
    padding: 3rem 1rem;
}

.formRecom h4{
    text-align: center;
    padding-bottom: 0.8em;
}

.recom p{
    text-align: center;
    font-style: italic;
}